.pokemon-card-container {
    width: 350px ;
    height: 350px;
    background-color: white;
    // border: 2px solid #333333;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pokemon-img {
    width: 140px;
    height: 140px;
}

.type-container {
    display: flex;
    justify-content: center;
}
.card-type {
   padding: 5px 10px;
   margin: 10px 10px 10px 0;
   border-radius: 5px;
   color: #fff;
   width: 50px;
}