.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.pokeball-icon {
    width: 300px;
    padding: 10px;
}

.main-icon-container {
    background-color: #333333;
    width: 100%;
    display: flex;
    padding: 15px 0px 15px 0px;
}

.searchBar-container {
    width: 500px;
}

.cards-section {
    margin-top: 50px;
    display: inline-block;

    .btn {
        display: flex;
        justify-content: flex-end;
        margin-right: 170px;
    
        button {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border: none;
            color: white;
            margin-left: 10px;
            background-color: red;
        };
    };

    .cards-container {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    };
};

.footer {
    p {
        font-size: 20px;
    };

    a:link, a:visited {
        color: #333;
    };
};