.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.pokeball-icon {
    width: 300px;
    padding: 10px;
}
.main-icon-container {
    background-color: #333333;
    width: 100%;
    display: flex;
    // padding: 20px 0px 0px 20px;
}

.searchBar-container {
    width: 500px;
}

.cont-del-cont {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.btn {
    display: flex;
    align-self: flex-end;
    padding-right: 170px;

    button {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: red;
        border: none;
        color: white;
        margin-left: 10px;
    }
}

.cards-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer p {
    font-size: 20px;
}

.footer a:link, a:visited {
    color: #333;
}

.footer-icon {
    width: 30px;
    //Remove this negative margin or I will kill you mf
    margin-bottom: -5px;
}