.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.pokeball-icon {
    width: 300px;
    // height: 100px;
    padding: 10px;
}
.main-icon-container {
    // padding: 30px;
    background-color: #333333;
    width: 100%;
    // height: 200px;
    display: flex;
    padding: 20px 0px 0px 20px;
}

.searchBar-container {
}

.btn {
    width: 250px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 350px;
    right: 170px;
    button {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: red;
        border: none;
        color: white;
    }
}

.cards-container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer p {
    font-size: 20px;
}

.footer-icon {
    width: 30px;

}